body{
    background-color: #fffdf3;
}

.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: end;
}

.tab{
    align-items: end;
    border:solid #d8d6fc
}

h1{
    text-align: center;
}

.socials{
    align-items: center;
}